<section class="cpnazo__home__grid">
    <div class="container g-py-30">
      <h2 class="cpnazo__sub-title">¡Encuentra lo que deseas comer hoy!</h2>
      <div class="cpnazo__layaut-grid">
        <a href="#" class="cpnazo__layaut-grid__item" *ngFor=" let producto of productos">
          <div class="image">
            <img
              class="cpnazo__img"
              src="{{producto.imagen}}"
              alt="MATILA"
            />
          </div>
          <div class="info">
            <h3 class="title2">{{producto.producto}}</h3>
            <p class="excert">
              El gran sabor logrado por nuestra receta secreta
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
      </div>
    </div>
  </section>