<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Carrito de compra</title>
  </head>
  <body>
    
    <section class="cpnazo__home__grid">
      <div class="container g-py-30">
        <h2 class="cpnazo__sub-title">¡Encuentra lo que deseas comer hoy!</h2>
        <div class="cpnazo__layaut-grid"></div>
      </div>
    </section>
  <div class="small-container single-product">
    <div class="row">
      <div class="col-6">
        <img height="500px" src="{{producto.imagen}}"
        width="100%" id="ProductImg">
        
      </div>
      <div class="col-6" style="margin-top: -90px;">
        <p>Home / T-Shirts</p>
        <h1>{{producto.producto}}</h1>
        <h4>S/{{producto.precio}}.00</h4>
        <select name="cantidad" [(ngModel)]="detalle.cantidad" class="form-control" style="padding: 0;">
          <option [ngValue]="undefined" selected>--Seleccione--</option>
          <option 
          [ngValue]="1"
          >
        1
      </option>
                  <option
          id="option-2"
          [ngValue]="2">
        2
      </option>
                  <option
          id="option-3"
          [ngValue]="3">
        3
      </option>
                  <option
          id="option-4"
          [ngValue]="4">
        4
      </option>
                  <option
          id="option-5"
          [ngValue]="5">
        5
      </option>
                  <option
          id="option-6"
          [ngValue]="6">
        6
      </option>
        </select>
        <input id="producto" name="producto" type="hidden" value={{producto}} [(ngModel)]="detalle.producto">
                <input id="precio" name="precio" type="hidden" value="{{producto.precio}}" [(ngModel)]="detalle.precio">
                <input id="cabecera" name="cabecera" type="hidden" value="{{cabecera}}" [(ngModel)]="detalle.cabecera">
        <div class="row">
          <div class="col-md-12 text-center">
            <label>{{this.mensaje}}</label>
          </div>
        </div>
        <button (click)="AgregarAlCarrito(detalle)"  class="btn">Add to Car</button>
        <h3>Detalles de Productos<i class="fa fa-indent"></i></h3>
        <br>
        <p>{{producto.descripcion}}</p>
      </div>
    </div>

  </div>
  </body>
</html>
