<div class="  ">

                  <!-- styls -->
                <script type="text/javascript">
                  window.addEventListener("load", function () {
                    var css = document.createElement("link");
                    css.rel = "stylesheet";
                    css.href =
                      "https://assets.linio.com/assets/css/alice-cc97a02c09.lazy.css";
                    document.getElementsByTagName("head")[0].appendChild(css);
                  });
                </script>
                <script
                  type="text/javascript"
                  src="https://assets.linio.com/assets/js/core-ea4a66d02d.js"
                  defer
                ></script>

                <script type="text/javascript">
                  window.DY = window.DY || {};
                  DY.recommendationContext = {
                    type: "PRODUCT",
                    data: ["PR042HL1696XULPE-10504695"],
                  };
                </script>
                <script type="text/javascript">
                  window.ScarabQueue = window.ScarabQueue || [];
                  window.addEventListener("load", function () {
                    window.emarsys = new Emarsys();
                  });

                  ScarabQueue.push(["view", "PR042HL1696XULPE"]);

                  ScarabQueue.push(["go"]);
                </script>
  <section class="cpnazo__home__banner">
    <div
      class="js-carousel"
      data-infinite="true"
      data-slides-show="1"
      data-autoplay="true"
      data-autoplay-speed="5000"
      data-pause-on-hover="false"
      data-pause-on-focus="false"
      data-lazy-load="ondemand"
      data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-45 g-height-45 rounded"
      data-arrow-left-classes="fa fa-angle-left g-left-10"
      data-arrow-right-classes="fa fa-angle-right g-right-10"
      data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x text-center"
    >
      <div
        class="cpnazo__home__banner__item"
        style="
          background-image: url('//www.rustica.com.pe/images/sliders/2-sl-1666626644.jpeg');
        "
      >
        <div class="container g-py-30">
          <h2 class="title">
            AHORA PIDE TUS PROMOS DE SIEMPRE SOLO PARA LLEVAR
          </h2>
          <a href="https://rusticadelivery.com/ofertas" class="cpnazo__btn"
            >Promos</a
          >
        </div>
      </div>
      <div
        class="cpnazo__home__banner__item"
        style="
          background-image: url('https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Fachada-27.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1160,h:570/qt=q:42');
        "
      >
        <div class="container g-py-30">
          <h2 class="title">VISITA NUESTROS LOCALES</h2>
          <p class="excert">
            Ven a vivir la experiencia Rustica donde la juerga y la diversión
            están garantizadas
          </p>
          <a
            href="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Fachada-51.jpg/:/cr=t:4.88%25,l:8.85%25,w:89.29%25,h:80.09%25/rs=w:1240,h:620,cg:true,m"
            class="cpnazo__btn"
            >DIRECCIONES Y HORARIOS</a
          >
        </div>
      </div>
      <div
        class="cpnazo__home__banner__item"
        style="
          background-image: url('//www.rustica.com.pe/images/sliders/12-sl-1666634896.jpeg');
        "
      >
        <div class="container g-py-30">
          <h2 class="title">DISCOTECA Y BARES</h2>
          <p class="excert">
            Diviértete con la mejor música y el mejor ambiente
          </p>
          <a
            href="https://sites.google.com/hellomarketing.pe/locales-rustica/"
            class="cpnazo__btn"
            >LOCALES CON DISCOTECA Y KARAOKE</a
          >
        </div>
      </div>
      <div
        class="cpnazo__home__banner__item"
        style="
          background-image: url('https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Fachada-51.jpg/:/cr=t:4.88%25,l:8.85%25,w:89.29%25,h:80.09%25/rs=w:1240,h:620,cg:true,m');
        "
      >
        <div class="container g-py-30">
          <h2 class="title">Tus vacaciones soñadas a solo un clicK</h2>
          <a
            href="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Fachada-51.jpg/:/cr=t:4.88%25,l:8.85%25,w:89.29%25,h:80.09%25/rs=w:1240,h:620,cg:true,m"
            class="cpnazo__btn"
            >reserva ahora</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End Revolution Slider -->

  <section class="cpnazo__home__attention">
    <div class="container g-py-30">
      <div class="cpnazo__home__attention-flex">
        <div class="cpnazo__home__attention-flex__col">
          <img
            class="cpnazo__img"
            src="//www.rustica.com.pe/images/icons/icon-hour.svg"
            alt="Hora"
          />
          <h3>Horario de atención: <span>10:00 am - 11:00 pm</span></h3>
        </div>
      </div>
    </div>
  </section>

  <section class="cpnazo__home__grid">
    <div class="container g-py-30">
      <h2 class="cpnazo__sub-title">¡Encuentra lo que deseas comer hoy!</h2>
      <div class="cpnazo__layaut-grid">
        <a href="/hamburguesas?id=3" class="cpnazo__layaut-grid__item">
          <div class="info">
            <h3 class="title">TEPPAN</h3>
            <p class="excert">La experiencia de una excelente hamburguesa</p>
            <div class="cpnazo__btn">Ver</div>
          </div>
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Olman%20Hamburguesa.jpg/:/cr=t:5.71%25,l:0%25,w:100%25,h:88.57%25/rs=w:600,h:300,cg:true/qt=q:42"
              alt="TEPPAN"
            />
          </div>
        </a>
        <a href="/hamburguesas?id=9" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Ignacia%20fondo%20trago-0003.jpg/:/cr=t:0%25,l:2.05%25,w:95.9%25,h:100%25/rs=w:600,h:300,cg:true"
              alt="OLMAN"
            />
          </div>
          <div class="info">
            <h3 class="title">OLMAN</h3>
            <p class="excert">
              Veterano especialista en hamburguesas que llevará tu paladar hacia
              otro nivel.
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
        <a href="/hamburguesas?id=9" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Ignacia%20fondo%20trago-0003.jpg/:/cr=t:0%25,l:2.05%25,w:95.9%25,h:100%25/rs=w:600,h:300,cg:true"
              alt="IGNACIA"
            />
          </div>
          <div class="info">
            <h3 class="title">IGNACIA</h3>
            <p class="excert">
              Sentirás su fuerza en cada una de tus bebidas u cócteles clásicos
              y de autor.
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
        <a href="/hamburguesas?id=1" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Maki%20Tokyo-12_2.jpg/:/cr=t:5.11%25,l:6.71%25,w:83.66%25,h:94.34%25/rs=w:360,h:271,cg:true,m/qt=q:43"
              alt="MAKIS"
            />
          </div>
          <div class="info">
            <h3 class="title">MAKIS</h3>
            <p class="excert">
              Tradicional comida japonesa con un toque fusión peruana.
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Maki%20Volcan-28_2.jpg/:/cr=t:14.65%25,l:12.63%25,w:68.22%25,h:76.92%25/rs=w:360,h:271,cg:true,m/qt=q:43"
              alt="MAKIS"
            />
          </div>
        </a>
        <a href="/hamburguesas?id=5" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://estoyhechouncocinillas.com/wp-content/uploads/2019/08/pizza-americana-pepperoni.jpg"
              alt="NIGIRIS"
            />
          </div>
          <div class="info">
            <h3 class="title">PIZZAS</h3>
            <p class="excert">
              Bonito flambeado en salsa parrillera, bañado en salsa acevichada y
              palta.
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
        <a href="/hamburguesas?id=2" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Copy%20of%20Alitas%20BBQ-026.jpg/:/cr=t:17.53%25,l:21.22%25,w:57.58%25,h:64.94%25/rs=w:360,h:271,cg:true,m/qt=q:43"
              alt="ALICIA"
            />
          </div>
          <div class="info">
            <h3 class="title">ALICIA</h3>
            <p class="excert">
              Todas acompañadas de una porción de papas amarillas fritas.s.
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
        <a href="/hamburguesas?id=4" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Mostritos-07.jpg/:/cr=t:1.74%25,l:1.98%25,w:83.66%25,h:94.34%25/rs=w:360,h:271,cg:true,m/qt=q:43"
              alt="MATILA"
            />
          </div>
          <div class="info">
            <h3 class="title">MATILA</h3>
            <p class="excert">
              El gran sabor logrado por nuestra receta secreta
            </p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
        <a href="/hamburguesas?id=4" class="cpnazo__layaut-grid__item">
          <div class="info">
            <h3 class="title">PERUANITOS</h3>
            <p class="excert">Salchipapa personal.</p>
            <div class="cpnazo__btn">Ver</div>
          </div>
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/Salchipapas-088.jpg/:/cr=t:9.1%25,l:11.11%25,w:75.16%25,h:84.75%25/rs=w:360,h:271,cg:true,m/qt=q:87"
              alt="PERUANITOS"
            />
          </div>
        </a>
        <a href="/hamburguesas?id=4" class="cpnazo__layaut-grid__item">
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/_DSC7205-0001.JPG/:/cr=t:0%25,l:5.66%25,w:88.68%25,h:100%25/rs=w:360,h:271,cg:true/qt=q:87"
              alt="PERUANITOS"
            />
          </div>
          <div class="info">
            <h3 class="title">PERUANITOS</h3>
            <p class="excert">Porción de papas amarillas fritas.</p>
            <div class="cpnazo__btn">Ver</div>
          </div>
        </a>
        <a href="/hamburguesas?id=4" class="cpnazo__layaut-grid__item">
          <div class="info">
            <h3 class="title">CHORIZO</h3>
            <p class="excert">CHORIZO</p>
            <div class="cpnazo__btn">Ver</div>
          </div>
          <div class="image">
            <img
              class="cpnazo__img"
              src="https://img1.wsimg.com/isteam/ip/1ad7ed0b-0dd0-41a8-8392-473405608988/WhatsApp%20Image%202022-06-18%20at%2012.07.08%20AM%20(3).jpeg/:/cr=t:38.51%25,l:17.25%25,w:80.65%25,h:40.57%25/rs=w:360,h:271,cg:true,m/qt=q:87"
              alt="chorizo"
            />
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="cpnazo__home-discarded">
    <div class="container">
      <h2 class="cpnazo__sub-title">Mira lo mas destacado</h2>
      <h2 class="banner-block-title text-center">
        Platillos delicios y sabrosos a tu disposicion
               </h2>
      <div class="slider-wrapper slider-wrapper-with-card-footer">
          
        <a (click)="ObtenerInfo(producto)" *ngFor=" let producto of productos" class="slider-panel product-card slider-card-with-footer" href="#"  alt="">
    <div class="product-image">
    
    <picture class="image-wrapper">
    <img style="height: 120px;" src="{{producto.imagen}}" alt="" class="image">
    </picture>
    </div>
    <div class="product-info ">
    <div class="name">{{producto.producto}}</div>
    <div class="">
    <div class="lowest-price">
    <span class="price-promotional">S/ {{producto.precio}}.00</span>
    <span class="sprite sprite-cmr_pe-sm hidden-lg-up d-lg-none"></span>
    </div>
    </div>
    </div>
    <div class="card-footer">
    <button class="btn btn-sm card-footer-button">Ver producto</button>
    </div>
    </a>
      </div>
    

    </div>
  </section>
</div>

