<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 id="titulo" class="mb-1">"TERRAZA"</h1>
        <h1 id="subtitulo" class="mb-1">Experiencias Gastronómicas</h1>
        <br>
        <h3 id="subtitulo2" class="mb-5"><em>Ven a disfrutar de la mejor experiencia gastronómica en nuestro restaurante y bar al aire libre!</em></h3>
        <a class="btn btn-danger btn-xl" href="#Experiencias">Experiencias</a>
    </div>
</header>

<!-- Experiencias-->
<section class="content-section bg-light" id="Experiencias">
<div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-10">
            <h1>Terraza</h1>

            <p id="subterraza" class="lead mb-5">En Terraza, podrás disfrutar del mejor ambiente y en un restaurante y bar al aire libre, encontrar 
                las mejores Hamburguesas, Makis, Alitas, Pollo a la braza y Cocteles del distrito gracias a nuestras 5 marcas, Teppan, 
                Hamburguesas Olman, Alitas Alicia, Matila Brazas y parrilla e Ignacia Bar, ven y pruébalos!
                Nuestro amplio espacio nos permite tomar reservas para eventos de empresas, cumpleaños o cualquier tipo de celebración que 
                desees realizar, solo comunicate con nosotros al 9930-61143 y relajate, deja todo en nuestras manos!</p>
                
            <a class="btn btn-dark btn-xl" href="#Bienvenido">Bienvenido</a>
        </div>
    </div>
</div>
</section>

<!-- Bienvenido -->
<section class="content-section bg-dark text-white text-center" id="Bienvenido">
<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5">

        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <img id="imgsitio" src="../../../assets/images/Terraza sitio1.png" alt="">
        </div>             

        <div id="textobienvenido" class="col-lg-8 col-md-6 mb-5 mb-md-0">
            <br><br><br><br><br><h1><strong>Bienvenido</strong></h1>
            <br>
            <p>Hay mucho para ver aquí. Tómate tu tiempo, mira alrededor y entérate de toda la variedad que 
                te ofrecemos en un solo lugar, tenemos las mejores marcas especializadas en comida y bebida!</p>

                <a class="btn btn-danger btn-xl" href="/politicas">Conoce nuestras politicas de privacidad!</a>
        </div>

        

    </div>
</div>
</section>
<br>
<br>
<!-- Mapa - Terraza-->
<div class="container text-center">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.944167577358!2d-77.063429!3d-12.0788423!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d5647635112008d!2sTerraza%20Experiencias%20Gastron%C3%B3micas!5e0!3m2!1ses!2spe!4v1678333966930!5m2!1ses!2spe" 
width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- Footer-->
<footer class="footer text-center">
<div>
    <p></p>
</div>
</footer>

<!-- Boton de subida -->
<a class="scroll-to-top rounded" href="#inicio"><i class="fa-solid fa-angle-up"></i></a>

