<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <p><ngb-progressbar [value]="100" type="success" [showValue]="true" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <div class="row">
        <!-- Left -->
        <div   class="col-lg-12">
          <hr />
          <div style="background: linear-gradient(90deg, #7579ff,#b224ef);    height: 500px; display: flex;
          align-items: center;
          justify-content: center;">
          <div style="width: 300px; " class="text-center">
              <h2 class="text-white text-center" style="width: 300px;">Gracias por Su Compra:)</h2>
              
              
          </div>
          
  
  
  
          
          </div>
        </div>