<br>
<br>
<br>
<br>
<br>
<br>


<!-- Inicio -->
<section class="content-section bg-dark text-white text-center" id="Bienvenido">
    <div class="container px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5">

            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <img id="imgsitio" src="../../../assets/images/TERRAZA.jpg" alt="">
            </div>             

            <div id="textobienvenido" class="col-lg-8">
                <br><br><br><br><br><h1><strong>POLÍTICAS DE PRIVACIDAD TERRAZA </strong><i class="fa-solid fa-book-open"></i></h1>
                    <br>
                    <h2><strong>TELEFONO: 930564534</strong></h2>
                    <br>
                    <a class="btn btn-danger btn-xl" href="nosotros">Nosotros!</a>
            </div>                
        </div>
    </div>
</section>

    <!-- Politicas-->
    <section class="content-section bg-light" id="Experiencias">
        <div>
            <div id="textpoliticas" class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h4>1. DATOS IDENTIFICATIVOS DEL TITULAR DE LA WEB</h4>

                    <p id="subterraza" class="lead mb-5">
                        La persona titular de la página laterraza.com (en adelante, el Sitio Web) es NOMBRE (en adelante, el Titular), con 
                        domicilio en DIRECCIÓN, y con dirección de correo electrónico info@laterraza.com.</p>
                        
                </div>

                <div class="col-lg-10">
                    <h4>2. CONDICIONES DE ACCESO Y UTILIZACIÓN DEL SITIO WEB Y SUS CONTENIDOS</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        El Sitio Web proporciona acceso al Usuario a múltiples informaciones, servicios o datos en Internet pertenecientes al Titular. 
                        La condición de Usuario es atribuida por la utilización del Sitio Web e implica la aceptación de todos los apartados de este Aviso Legal. 
                        Asimismo, el Usuario de este Sitio Web se compromete a hacer un uso lícito del mismo y sus contenidos.
                        <br><br>
                        El Titular se guarda el derecho a retirar del Sitio Web cualquier comentario que sea ilícito, contrario a la buena fe o al orden público, 
                        que lesione derechos e intereses de terceros, o que de cualquier forma pueda resultar ofensivo en un sentido amplio. Si un usuario o tercero,
                         considerara que algún comentario publicado en el Sitio Web o alguno de sus enlaces son ilícitos o tienen las características establecidas 
                         en el párrafo anterior deberán comunicarlo en la mayor brevedad posible al Titular para que se proceda a su retirada.</p>                            
                </div>

                <div class="col-lg-10">
                    <h4>3. POLÍTICA DE PROTECCIÓN DE DATOS</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        De conformidad con lo establecido en el artículo 5.1 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal 
                        (en adelante, LOPD), se informa a los interesados que todos los datos facilitados por el Usuario a través del Sitio Web, serán 
                        incorporados y tratados en los ficheros propiedad del Titular a los que se dará el tratamiento estipulado por la LOPD.
                        <br><br>
                        Los datos obtenidos tendrán las siguientes finalidades: 1.- posibilitar la prestación de los servicios solicitados por el Usuario y atender 
                        sus peticiones de información; 2.- mantener informado al Usuario, incluso por medios electrónicos, acerca de los productos, servicios y 
                        noticias del Titular; y 3.- permitir la suscripción del Usuario en el Blog del Sitio Web.
                        <br><br>
                        No obstante, en relación a la segunda finalidad, el Usuario podrá solicitar en cualquier momento no recibir más comunicaciones de este tipo 
                        enviando un correo electrónico dirigido a info@laterrazaalcanada.com.
                        <br><br>
                        Los titulares de los datos tienen el derecho de acceso, rectificación, cancelación y oposición de sus datos. Para ejercitar estos 
                        derechos, los titulares de los datos pueden dirigir una petición escrita por correo postal, acompañada de fotocopia de DNI, a la 
                        dirección facilitada por el Titular en el apartado primero del presente aviso legal; o bien mediante correo electrónico, firmado 
                        electrónicamente, remitido a la dirección info@laterrazaalcanada.com.
                        <br><br>
                        Los usuarios responderán en cualquier caso, de la veracidad de los datos facilitados, reservándose al Titular el derecho a 
                        excluir a todo usuario que haya facilitado datos falsos o erróneos, sin perjuicio de las demás acciones que procedan legalmente. 
                        La presente Política de Protección de Datos puede ser modificada atendiendo escrupulosamente tanto a posibles cambios 
                        legislativos que se produzcan, como a las directrices emanadas de la Agencia Española de Protección de Datos.</p>
                </div>

                <div class="col-lg-10">
                    <h4>4. COMUNICACIONES DE DATOS EFECTUADAS POR EL PROPIO USUARIO</h4>
                    <h5>4.1. A través del Blog</h5>
                    <p id="subterraza" class="lead mb-5">
                        
                        Para suscribirse en el Blog únicamente deberá comunicarse por el Usuario la dirección de correo electrónico.
                        <br><br>
                        La dirección de correo electrónico facilitada por el Usuario será almacenada en un fichero de suscripciones, 
                        sólo accesible el propietario del Sitio Web y los administradores del Blog, y dándosele el tratamiento del apartado 
                        tercero anterior, relativo a la “POLÍTICA DE PROTECCIÓN DE DATOS”.
                        <br><br>
                        El Usuario suscrito en el Blog de esta manera podrá comentar las noticias, artículos y demás publicaciones del Blog, 
                        para lo que deberá observarse el apartado segundo de este aviso legal referente a “CONDICIONES DE ACCESO Y UTILIZACIÓN 
                        DEL SITIO WEB Y SUS CONTENIDOS”.
                        <br><br>
                        El Usuario suscrito podrá recibir de forma automática en su correo electrónico las publicaciones del Blog. No obstante, 
                        el Usuario también podrá recibir información comercial acerca de los servicios que ofrece el Titular o de terceros. 
                        Es preciso advertir al Usuario que no debe facilitar a través del Blog datos personales relativos a terceras personas.</p>
                        
                    <h5>4.2. A través de Newsletter</h5>
                    <p id="subterraza" class="lead mb-5">
                        
                        Para suscribirse en el Newsletter únicamente se comunicará por el Usuario la dirección de correo electrónico. 
                        La dirección de correo electrónico que facilite el Usuario se almacenará en un fichero de suscripciones, siendo 
                        únicamente accesible el propietario del Sitio Web y los administradores del Newsletter, y se le dará el tratamiento 
                        del apartado tercero anterior, relativo a la “POLÍTICA DE PROTECCIÓN DE DATOS”. El Usuario suscrito al Newsletter 
                        podrá recibir información comercial acerca de los servicios que ofrece el Titular o de terceros.</p>
                </div>

                <div class="col-lg-10">
                    <h4>5. EXCLUSIÓN DE RESPONSABILIDAD</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        En ningún caso se responsabilizará el Titular por los daños y perjuicios que pudieran ocasionarse mediante el uso de la información 
                        proporcionada por medio del Sitio Web. Tampoco se garantiza por el Titular la exactitud y/o veracidad de toda o parte de la información 
                        contenida en el Sitio Web, ni su actualización, ni que dicha información no haya sido alterada o modificada en todo o en parte, después d
                        e haber sido incluida en el Sitio Web.
                        Además, el Titular no será responsable de los contenidos publicados en el Blog por los usuarios.
                        <br><br>
                        En cuanto al funcionamiento del Blog, el Titular podrá realizar las correcciones, las mejoras o las modificaciones en la información 
                        contenida en el Blog que considere pertinentes, sin que ello de lugar, ni derecho a ninguna reclamación o indemnización, ni implique 
                        el reconocimiento de responsabilidad alguna.
                        Tampoco se hará responsable el Titular por los daños y perjuicios de cualquier naturaleza que se pudieran derivar de 
                        la disponibilidad y continuidad técnica del funcionamiento del Sitio Web y de sus contenidos.
                        <br><br>
                        Asimismo, el Titular no se responsabilizará por los daños y perjuicios de cualquier naturaleza que puedan deberse a la presencia de malware 
                        o de otros elementos maliciosos en los contenidos que puedan producir alteraciones en el sistema informático, programas, documentos electrónicos 
                        o ficheros de los usuarios.</p>                           
                </div>

                <div class="col-lg-10">
                    <h4>6. PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        Todos los contenidos del Sitio Web (a título enunciativo: imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones 
                        de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.) 
                        son propiedad del Titular, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación reconocidos por la normativa vigente 
                        en materia de propiedad intelectual e industrial sobre los mismos.
                        <br><br>
                        En definitiva, todos los derechos en las referidas materias sobre los contenidos quedan reservados al Titular del Sitio Web.
                        <br><br>
                        Quedan expresamente prohibidas la copia, la modificación, la reproducción, la descarga, la transmisión, la distribución o la transformación, 
                        de la totalidad o parte de los contenidos de esta página, en cualquier soporte y por cualquier medio técnico, sin la autorización del Titular.
                        <br><br>
                        Por lo tanto, el Usuario se compromete a respetar los derechos de Propiedad Intelectual Industrial que ostenta el Titular.</p>                           
                </div>

                <div class="col-lg-10">
                    <h4>7. MODIFICACIONES EN EL SITIO WEB</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        El Titular se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en el Sitio Web, pudiendo cambiar, 
                        suprimir o añadir tanto los contenidos y servicios que se presten a través del mismo como la forma en la que éstos aparezcan presentados o 
                        localizados en el Sitio Web.</p>                           
                </div>

                <div class="col-lg-10">
                    <h4>8. POLÍTICA DE COOKIES</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        El Sitio Web utiliza cookies con la finalidad de poder recabar información acerca del uso del Sitio Web.
                        <br><br>
                        Asimismo, se informa al Usuario de que el uso de cookies se hace también con la finalidad de facilitar su navegación a través del Sitio Web, 
                        distinguirle de otros usuarios, proporcionarle una mejor experiencia en el uso del mismo e identificar problemas para mejorar el Sitio Web. 
                        n caso de que el Usuario preste su consentimiento, se utilizarán cookies que permitan obtener más información acerca de sus preferencias y 
                        personalizar el Sitio Web de conformidad con sus intereses individuales.
                        <br><br>
                        La presente política de cookies tiene por finalidad informar al Usuario de manera clara y precisa sobre las cookies que se utilizan en el 
                        Sitio Web. En caso de que el Usuario quiera recabar más información sobre las cookies que se utilizan en el Sitio Web, podrá remitir un 
                        correo electrónico a la dirección info@laterrazaalcanada.com.
                        <br><br>
                        En cuanto a su definición, una cookie es un archivo que se descarga en el equipo del Usuario (ordenador o dispositivo móvil) con la finalidad 
                        de almacenar datos que podrán ser actualizados y recuperados por la entidad responsable de su instalación. La información recabada a través 
                        de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las páginas visionadas, el tiempo que ha estado el Usuario en nuestro 
                        Sitio Web y los sitios visitados justo antes y después del mismo.
                        <br><br>
                        En relación a las clases o tipos de cookies que se usan en el Sitio Web, éstas son:</p>
                        
                        <h5>8.1 Cookies propias</h5>

                        <p id="subterraza" class="lead mb-5">
                            
                            Son aquellas cookies que son enviadas al ordenador del Usuario y son gestionadas exclusivamente por el Titular para el mejor funcionamiento 
                            del Sitio Web. La información que se recaba es empleada para mejorar la calidad del servicio y su experiencia como usuario. Estas cookies 
                            permanecen en el navegador del Usuario más tiempo, permitiendo reconocerle como visitante recurrente del Sitio Web y adaptar el contenido 
                            para ofrecerle contenidos que se ajusten a sus preferencias.</p>

                        <h5>8.2 Cookies analíticas de terceros</h5>

                        <p id="subterraza" class="lead mb-5">
                            
                            Las cookies de terceros, son aquellas establecidas por un dominio diferente al del Sitio Web. En el Sitio Web también se utiliza el sistema 
                            de medición de audiencia Google Analytics, una herramienta de análisis web de Google que permite conocer cómo interactúan los usuarios del 
                            Sitio Web.
                            <br><br>
                            Éstas permiten conocer el número total de usuarios que visitan el Sitio Web y aquellas partes del mismo que gozan de mayor popularidad. 
                            Gracias a ellas se permite conocer una información que puede ayudar a mejorar la navegación y dar un mejor servicio a los usuarios.
                            <br><br>
                            Se incluye a continuación el enlace al sitio web de Google donde el Usuario puede consultar la descripción del tipo de cookies que utiliza 
                            Google Analitycs y su periodo de expiración:https://developers.google.com/analytics/devguides/collection/analyticsjs/
                            cookie-usage?hl=es
                            Al navegar y continuar en el Sitio Web el Usuario estará consintiendo el uso de las cookies antes enunciadas, por los plazos señalados y en 
                            las condiciones contenidas en la presente Política de Cookies.
                            <br><br>
                            En cualquier caso, se informa al Usuario de que dado que las cookies no son necesarias para el uso del Sitio Web, puede bloquearlas o 
                            deshabilitarlas activando la configuración de su navegador que le permite rechazar la instalación de todas las cookies o de algunas de ellas. 
                            La práctica mayoría de los navegadores permiten advertir de la presencia de cookies o rechazarlas automáticamente. Si el Usuario las rechaza 
                            podrá seguir usando el Sitio Web, aunque el uso de algunos de sus servicios podrá ser limitado y por tanto su experiencia en el Sitio Web 
                            menos satisfactoria.
                            <br><br>
                            Si el Usuario quisiese retirar en cualquier momento su consentimiento relacionado con la presente Política de Cookies, deberá eliminar las 
                            cookies almacenadas en su equipo (ordenador o dispositivo móvil) a través de los ajustes y configuraciones de su navegador de Internet.
                            <br><br>
                            Para mayor información del Usuario sobre la eliminación, deshabilitación o bloqueo de las cookies por favor 
                            visite: http://www.aboutcookies.org/Default.aspx?page=2 Modificación de la configuración y ajustes sobre cookies
                            Salvo que el Usuario haya ajustado la configuración de su navegador, el sistema creará cookies en cuanto visite el Sitio Web. 
                            Tenga presente el Usuario que todos los navegadores de Internet permiten el cambio de dicha configuración.
                            <br><br>
                            Es posible que se actualice la Política de Cookies del Sitio Web, por ello le recomendamos al Usuario revisar esta política cada 
                            vez que acceda al Sitio Web con el objetivo de estar adecuadamente informado sobre cómo y para qué se usan las cookies, si el Usuario 
                            tuviera alguna duda, comentario o sugerencia sobre la Política de Cookies, puede enviar un correo electrónico a laterraza.com.</p>
                </div>

                <div class="col-lg-10">
                    <h4>9. POLÍTICA DE ENLACES</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        En el caso de que en el Sitio Web se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, el Titular no ejercerá ningún tipo 
                        de control sobre dichos sitios y contenidos.
                        <br><br>
                        En ningún caso el Titular asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará 
                        la disponibilidad técnica, la calidad, la fiabilidad, la exactitud, la amplitud, la veracidad, la validez y la constitucionalidad de cualquier 
                        material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet.
                        <br><br>
                        Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación, fusión o participación con las entidades conectadas.</p>                           
                </div>

                <div class="col-lg-10">
                    <h4>10. MODIFICACIÓN DE LAS PRESENTES CONDICIONES LEGALES Y SU DURACIÓN</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        El Titular podrá modificar en cualquier momento las condiciones legales aquí determinadas, siendo debidamente publicadas como aquí aparecen.
                        La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.</p>                           
                </div>

                <div class="col-lg-10">
                    <h4>11. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h4>

                    <p id="subterraza" class="lead mb-5">
                        
                        La relación entre el Titular y el Usuario se regirá por la normativa española vigente y cualquier controversia se someterá a 
                        los Juzgados y Tribunales de la ciudad de Palma de Mallorca.</p>                           
                </div>   
            </div>
        </div>
    </section>